@font-face {
    font-family: 'Montserat-black';
    src: url(../fonts/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Montserat-bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserat-extra';
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Montserat-medium';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserat-regural';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserat-semibold';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto-regural';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}